@import 'tailwindcss';
@plugin "flyonui";
@plugin "flyonui" {
  themes: all;
}

@layer utilities {
  .animate-marquee {
    display: inline-block;
    white-space: nowrap;
    animation: marquee 10s linear infinite;
  }
  
  .animate-marquee:hover {
    animation-play-state: paused;
  }
  
  @keyframes marquee {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
  }
}